* {
  box-sizing: border-box;
}

body {
    background-color: LightYellow;
    color: maroon;
}

.hlavni {
    width: 700px;
    margin: 0 auto;
    background-color: Khaki;
    border: 1px solid maroon;
    padding: 2px;
}

.nadpis {
    height: 80px;
    text-align: center;
}

.pexeso-hra {
  width: 80%;
  height: 550px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px; 
  align-items: center;
  justify-content: space-around;
}

.pex-karta {
  width: 125px;
  height: 125px;
margin: 2px;
  position: relative;
  transform: scale(1);
transform-style: preserve-3d;
  transition: transform .5s;
}

.pex-karta.flip {
  transform: rotateY(180deg);
}

.pex-karta:active {
  transform: scale(0.96);
  transition: transform .25s;
}

.predek,
.zadek {
  width: 100%;
  height: 100%;
  padding: 15px;
  position: absolute;
  border-radius: 5px;
  background: #1C7CCC;
 backface-visibility: hidden;
}

.predek {
  transform: rotateY(180deg);
}




@media screen and (max-width: 702px) {
.hlavni {
    width: 100%;
}
.pexeso-hra {
  width: 99%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px; 
    border: 1px solid maroon;

}

.pex-karta {
  width: 75px;
  height: 75px;
margin: 1px;
  position: relative;
  transform: scale(1);
transform-style: preserve-3d;
  transition: transform .5s;

}
.predek,
.zadek {
  width: 100%;
  height: 100%;
  padding: 5px;
  position: absolute;
  border-radius: 5px;
  background: #1C7CCC;
 backface-visibility: hidden;
}
}

